{{ar | json}}
<br/><br/><br/><br/><br/>
<div *ngFor="let item of ar; let isodd = odd;">
  <!-- {{item | json}} -->
  <div *ngIf="item.completed; else oddColor" style="background-color: brown;">
    <button (click)="delItem(item.id || 0)">del</button>
    <button (click)="updItem(item.id || 0, todotitle.value, +userId.value, completed.checked)">update</button>

    {{item.id}},{{item.title}},{{item.completed}}
  </div>
  
  <ng-template #oddColor>
    <div style="background-color: yellow;">
      <button (click)="delItem(item.id || 0)">del</button>
      <button (click)="updItem(item.id || 0, todotitle.value, +userId.value, completed.checked)">update</button>
      {{item.id}},{{item.userId}},{{item.title}},{{item.completed}}
    </div>
  </ng-template>


  
</div>

<input #todotitle placeholder="title">
  <input #userId placeholder="userId">
  <input #completed type="checkbox">
  <button (click)="addTodo(todotitle.value, +userId.value, completed.checked)">Add</button>
  

